<a class="settings"><i class="fa fa-cog"></i></a>

<div class="doc-browser" id="folder-content">
  <div class="window-bar">
    <div class="w-close w-btn">
      <i class="fa fa-times"></i>
    </div>
    <div class="w-min w-btn" onclick="minimizeWindow()">
      <i class="fa fa-minus"></i>
    </div>
    <div class="w-max w-btn" onclick="maximizeWindow()">
      <i class="fa fa-plus"></i>
    </div>
  </div>
  <div class="window-content-view">

    <div class="sidebar-folder-list">
      <% @folders.each do |f| %>
        <div class="folder-list-item" id="folder-<%= f.id %>">
          <i class="<%= "fa #{f.icon}" %>"></i>
          <p><%= f.title %></p>
          <input type="hidden" value="<%= f.id %>">
        </div>
      <% end %>
    </div>

    <div class="main-content-view">
      <%= render partial: 'items', :locals => { :items => @current_folder.content_items } %>
    </div>

  </div>
</div>


<script>
  /**
   * Submit a post request by adding form and fields dynamically
   * @param path
   * @param params
   * @param method
   */
  function post(path, params, method) {
    method = method || "post";
    var AUTH_TOKEN = "<%= form_authenticity_token() %>";
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);
    form.setAttribute("data-remote", "true");
    for (var key in params) {
      if (params.hasOwnProperty(key)) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", params[key]);
        form.appendChild(hiddenField);
      }
    }
    var authField = document.createElement("input");
    authField.setAttribute("type", "hidden");
    authField.setAttribute("name", "authenticity_token");
    authField.setAttribute("value", AUTH_TOKEN);
    form.appendChild(authField);
    document.body.appendChild(form);
    form.submit();
  }
</script>

<script>
  $(document).ready(function() {
    $($('.sidebar-folder-list').children()[0]).addClass('current');
  });
</script>

<script>
  $('.folder-list-item').click(function() {
    $('.folder-list-item').each(function() { $(this).removeClass('current'); });
    var folderID = $(this).find('input[type="hidden"]').val();
    console.log("Input val: " + folderID);
    post('/portfolio/update_content', {folder_id: folderID}, "put");
    $(this).addClass('current');
  });
</script>

<script>
    // set the height of the window sidebar
    $('.sidebar-folder-list').height($('.main-content-view').height());
</script>


























